/*
	@name tv___2
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 610px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__tv___2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 610px;
	background:#;
	background: -webkit-linear-gradient(-180deg , rgba(32.94,25.39,25.39,1) 0%, rgba(8.57,6.61,6.61,0.60424429178238) 100%, rgba(3.05,2.35,2.35,0.51455587148666) 100%, rgba(1.15,0.89,0.89,0.48367336392403) 100%, rgba(0,0,0,0.46500000357628) 100%, rgba(32.94,25.39,25.39,0) 100%);
	background: -o-linear-gradient(-180deg , rgba(32.94,25.39,25.39,1) 0%, rgba(8.57,6.61,6.61,0.60424429178238) 100%, rgba(3.05,2.35,2.35,0.51455587148666) 100%, rgba(1.15,0.89,0.89,0.48367336392403) 100%, rgba(0,0,0,0.46500000357628) 100%, rgba(32.94,25.39,25.39,0) 100%);
	background: -moz-linear-gradient(-180deg , rgba(32.94,25.39,25.39,1) 0%, rgba(8.57,6.61,6.61,0.60424429178238) 100%, rgba(3.05,2.35,2.35,0.51455587148666) 100%, rgba(1.15,0.89,0.89,0.48367336392403) 100%, rgba(0,0,0,0.46500000357628) 100%, rgba(32.94,25.39,25.39,0) 100%);
	background: -ms-linear-gradient(-180deg , rgba(32.94,25.39,25.39,1) 0%, rgba(8.57,6.61,6.61,0.60424429178238) 100%, rgba(3.05,2.35,2.35,0.51455587148666) 100%, rgba(1.15,0.89,0.89,0.48367336392403) 100%, rgba(0,0,0,0.46500000357628) 100%, rgba(32.94,25.39,25.39,0) 100%);
	background: linear-gradient(-180deg , rgba(32.94,25.39,25.39,1) 0%, rgba(8.57,6.61,6.61,0.60424429178238) 100%, rgba(3.05,2.35,2.35,0.51455587148666) 100%, rgba(1.15,0.89,0.89,0.48367336392403) 100%, rgba(0,0,0,0.46500000357628) 100%, rgba(32.94,25.39,25.39,0) 100%);
}


#rectangle_1 {
	top: 55px;
	left: 0px;
	width: 1280px;
	height: 5px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(104.12,97.62,97.62,1);
}


#glory {
	top: 89px;
	left: 455px;
	width: 185px;
	height: 84.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#FFFFFF;
}


#beta {
	top: 89px;
	left: 645px;
	width: 182px;
	height: 84.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	-webkit-text-stroke-width: px;
	-webkit-text-stroke-color: #;
	background-image: linear-gradient(-131.08692845056deg , rgba(248.63,146.07,238.37,1) 0%, rgba(254.62,214.02,250.56,0.36) 89%, rgba(254.87,241.41,253.53,0.12) 100%, rgba(255,255,255,0) 100%, rgba(255,0,229.5,0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#pricing {
	top: 170px;
	left: 555px;
	width: 165px;
	height: 67.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	-webkit-text-stroke-width: px;
	-webkit-text-stroke-color: #;
	background-image: linear-gradient(-131.08692845056deg , rgba(160.44,160.44,160.44,1) 0%, rgba(79.69,79.69,79.69,0.36) 89%, rgba(254.87,241.41,253.53,0.12) 100%, rgba(255,255,255,0) 100%, rgba(24.44,23.72,24.37,0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#_home {
	top: 0px;
	left: 445px;
	width: 133.2px;
	height: 62.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 22px;
	font-weight: bold;
	line-height: 57.2px;
	text-align: center;
	color:#FFFFFF;
}


#pricing_ek1 {
	top: 0px;
	left: 701px;
	width: 133.2px;
	height: 62.2px;
	overflow: hidden;
	font-family: Inter;
	font-size: 22px;
	font-weight: bold;
	line-height: 57.2px;
	text-align: center;
	color:#FFFFFF;
}


#rectangle_3 {
	top: 250px;
	left: 399px;
	width: 233px;
	height: 321px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: -o-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: -moz-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: -ms-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
}


#rectangle_4 {
	top: 292px;
	left: 399px;
	width: 233px;
	height: 7px;
	background:rgba(217,217,217,1);
}


#rectangle_5 {
	top: 250px;
	left: 650px;
	width: 233px;
	height: 321px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: -o-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: -moz-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: -ms-linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
	background: linear-gradient(-180deg , rgba(104.12,97.62,97.62,1) 0%, rgba(104.12,97.62,97.62,0) 100%);
}


#rectangle_6 {
	top: 292px;
	left: 650px;
	width: 233px;
	height: 7px;
	background:rgba(217,217,217,1);
}


#paid___9_9_ {
	top: 257px;
	left: 408px;
	width: 213px;
	height: 31px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#fast_execution___y_fast_support___y_no_crashes____y_multi_os___y_fast_updates___y_mobile_support___y_cloud_scripts___y_lifetime___y {
	top: 312px;
	left: 406px;
	width: 215px;
	height: 265px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#free___0_ {
	top: 257px;
	left: 662px;
	width: 213px;
	height: 31px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#fast_execution___y_fast_support___n_no_crashes____y_multi_os___y_fast_updates___n_mobile_support___n_cloud_scripts___n {
	top: 312px;
	left: 660px;
	width: 215px;
	height: 265px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#rectangle_7 {
	top: 518px;
	left: 422px;
	width: 182px;
	height: 37px;
	background:rgba(217,217,217,1);
}


#_buy {
	top: 518px;
	left: 418px;
	width: 189px;
	height: 86.8px;
	overflow: hidden;
	font-family: Inter;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color:#261F1F;
}


#_rectangle_8 {
	top: 518px;
	left: 676px;
	width: 182px;
	height: 37px;
	background:rgba(217,217,217,1);
}


#_download {
	top: 518px;
	left: 672px;
	width: 189px;
	height: 86.8px;
	overflow: hidden;
	font-family: Inter;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color:#261F1F;
}



/* Add your custom CSS here */
